* {
    box-sizing: border-box;
    margin: 0;
    
}

.webpage-container {
    max-width: 970px;
    background-color: beige;
    margin: 0 auto;
}

.dish-img {
    height: auto;
}

.intro {
    text-align: center;
}

.intro, .recipe-steps {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.recipe-list {
    font-size: 28px;
    font-family: Times, 'URW Palladio L', serif;
}

